Source: library50-c
Maintainer: CS50 <sysadmins@cs50.harvard.edu>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: library50-c
Architecture: any
Depends: ${misc:Depends}
Description: CS50 Library for C
 Simplifies user input for C.
