Source: library50-c
Maintainer: CS50 <sysadmins@cs50.harvard.edu>
Section: misc
Priority: optional
Standards-Version: 6
Build-Depends:

Package: library50-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CS50 Library for C
 Simplifies user input for C.
