.*
!.github
!.gitignore
!.travis.yml
build/
debian/changelog
debian/docs/
debian/files
debian/libcs50
debian/*.log
hackerrank/
libcs50-*
libcs50_*
tests/get_string
tests/*
!tests/*.*
!tests/Makefile
tests/tests-out/
